#SBATCH -J {{ processName }}
#SBATCH -n {{ pes }}
#SBATCH -t {{ wallclock }}
#SBATCH -A climatehilat
#SBATCH -o {{ processName }}.stdout
#SBATCH -e {{ processName }}.stderr
#SBATCH --qos {{ queue }}

source /usr/share/Modules/init/bash
